# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=postgresql-app
POSTGRES_PORT=5432

# Redis
REDIS_HOST=redis-app
REDIS_PORT=6379

# JWT Settings
KEY=
ALGORITHM=HS256
TOKEN_EXPIRE=3600